<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">

    <h1 class="mt-4">GuestBook Register Page</h1>
    <form action="/guestbook/modify" method="post">
      <div class="form-group" style="margin-bottom: 10px">
        <label for="">Gno</label>
        <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
        <input type="hidden" name="page" th:value="${requestDTO.page}">
      </div>
      <div class="form-group" style="margin-bottom: 10px">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" th:value="${dto.title}">
      </div>
      <div class="form-group" style="margin-bottom: 10px">
        <label for="">Content</label>
        <textarea name="content" rows="5" class="form-control" th:value="${dto.content}"></textarea>
      </div>
      <div class="form-group" style="margin-bottom: 10px">
        <label for="">Writer</label>
        <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
      </div>
      <div class="form-group" style="margin-bottom: 10px">
        <label for="">RegDate</label>
        <input type="text" class="form-control"
          th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
      <div class="form-group" style="margin-bottom: 10px">
        <label for="">ModDate</label>
        <input type="text" class="form-control"
          th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
      </div>
    </form>
    <div class="form-group" style="margin-bottom: 10px">
      <button type="button" id="btnModify" class="btn btn-primary modifyBtn">Modify</button>
      <button type="button" id="btnList" class="btn btn-info listBtn">List</button>
      <button type="button" id="btnRemove" class="btn btn-danger removeBtn">Remove</button>
    </div>
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="http://code.jquery.com/jquery-latest.js"></script> -->
    <script th:inline="javascript">
      // var actionForm = $("form");
      // $(".removeBtn").click(
      //   function () {
      //     actionForm
      //       .attr("action", "/guestbook/guestbook/remove")
      //       .attr("method", "post");
      //     actionForm.submit();
      //   })

      // $(".modifyBtn").click(function () {
      //   if (!confirm("수정하시겠습니까?")) {
      //     return;
      //   }
      //   actionForm
      //     .attr("action", "/guestbook/guestbook/modify")
      //     .attr("method", "post")
      //     .submit();
      // })
      // $(".listBtn").click(function () {
      //   var pageInfo = $("input[name='page']");

      //   actionForm.empty();
      //   actionForm.append(pageInfo);
      //   actionForm
      //     .attr("action", "/guestbook/guestbook/list")
      //     .attr("method", "get");

      //   console.log(actionForm.html());
      //   actionForm.submit();
      // })
      var actionForm = document.querySelector("form");
      const btnModify = document.querySelector('#btnModify');
      btnModify.onclick = function() {
        actionForm.setAttribute("action", /*"@{/guestbook/modify}*/'modify');
        actionForm.setAttribute("method", "post");
        actionForm.submit();
      }
      const btnList = document.querySelector('#btnList');
      btnList.onclick = function() {
        location.href = /*[[@{/guestbook/list(page=${requestDTO.page})}]]*/'url'
      }
      const btnRemove = document.querySelector('#btnRemove');
      btnRemove.onclick = function() {
        actionForm.setAttribute("action", /*"@{/guestbook/remove}*/'remove');
        actionForm.setAttribute("method", "post");
        actionForm.submit();
      }
      window.onload = function() {
        var msg = /*[[${msg}]]*/'msg';
        const gno = msg.split(" ")[0]; // 글 번호
        const noti = msg.split(" ")[1]; // 문자열
        console.log(msg);
        if (msg) {
          // var myModal = new bootstrap.Modal(document.getElementById('myModal'));
          var myModal = new bootstrap.Modal(document.getElementById('myModal')
                          , { backdrop: true });
          document.querySelector(".modal-title").textContent = noti + ' 완료';
          document.querySelector(".modal-body").innerHTML = `<p>${gno}번 글이 ${noti}되었습니다.</p>`
          myModal.show();
        }
      }
    </script>
  </th:block>
</th:block>