<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">GuestBook Register Page</h1>
    <div class="form-group" tyle="margin-bottom: 10px">
      <label for="">Gno</label>
      <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
    </div>
    <div class="form-group" tyle="margin-bottom: 10px">
      <label for="">Title</label>
      <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
    </div>
    <div class="form-group" tyle="margin-bottom: 10px">
      <label for="">Content</label>
      <textarea name="content" rows="5" class="form-control" th:value="${dto.content}" readonly></textarea>
    </div>
    <div class="form-group" style="margin-bottom: 10px">
      <label for="">Writer</label>
      <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
    </div>
    <div class="form-group" style="margin-bottom: 10px">
      <label for="">RegDate</label>
      <input type="text" class="form-control" name="regDate"
        th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group" style="margin-bottom: 10px">
      <label for="">ModDate</label>
      <input type="text" class="form-control"
        th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group" style="margin-bottom: 10px">
      <button type="button" class="btn btn-primary"
        th:onclick="|location.href ='@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page})}'|">Modify</button>
      <button type="button" class="btn btn-info"
        th:onclick="|location.href ='@{/guestbook/list(page=${requestDTO.page})}'|">List</button>
    </div>
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      window.onload = function() {
        var msg = /*[[${msg}]]*/'msg';
        const gno = msg.split(" ")[0]; // 글 번호
        const noti = msg.split(" ")[1]; // 문자열
        console.log(msg);
        if (msg) {
          // var myModal = new bootstrap.Modal(document.getElementById('myModal'));
          var myModal = new bootstrap.Modal(document.getElementById('myModal')
                          , { backdrop: true });
          document.querySelector(".modal-title").textContent = noti + ' 완료';
          document.querySelector(".modal-body").innerHTML = `<p>${gno}번 글이 ${noti}되었습니다.</p>`
          myModal.show();
        }
      }
    </script>
  </th:block>